@use "@/styles/abstract/variables" as *;

.scrollReveal {
  width: 100%;
  max-width: $max-width;
  height: 100svh;
  max-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  .scrollRevealText {
    color: $grey;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -1%;
    
    @media only screen and (max-width: $tablet-l) {
      font-size: 32px;
      line-height: 38px;
    }

    @media only screen and (max-width: $mobile-l) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
